.completed {
  color: gray;
  text-decoration: line-through;
}
#addTask{
  width: 120px;
  font-size: small;
}
button{
  width: 120px;
  font-size: large;
}
li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: space-between;

}
